

@media (max-width:451px) {
	
	
    .cuerpo-prog {
        height: auto;
        width: auto;
        background-image: url(../imagenes/portada.jpg);
        background-size: cover;
        background-size: 100rem;
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        background-color: #2e2e30;
    
    
    }
    
    header{
        div{
            .titulo {
                margin: 0%;
                margin-bottom: 0%;
                padding: 10px;
                padding-left: 5%;
                color: rgb(174, 151, 38);
                background-color: #2e2e30;
                border: solid 3px #9f8b6a;
                border-bottom: none;
                font-size: 20px;
                font-family: Arial, Helvetica, sans-serif;
                
            }
            
            .sub-titulo {
                border: 3px solid #9f8b6a;
                border-top: none;
                background-color: #2e2e30;
                margin: 50px;
                margin-top: 0%;
                margin-left: 0%;
                margin-right: 0%;
                margin-bottom: 10px;
                padding-left: 15px;
                padding-bottom:8px;
                color: rgb(174, 151, 38);
                font-family: Arial, Helvetica, sans-serif;
                font-size: 10px;
            }
        }
        ul.diseño-barra{
            color: rgb(174, 151, 38);
            font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;
            border: #9f8b6a solid 1px;
            background-color: #2e2e30;
            box-sizing:unset;
            margin: auto;
            .diseño-celda{
                list-style: none;
                text-decoration: none;
                color: rgb(174, 151, 38);
                padding: 5px;
                text-align: center;
                background-color: #2e2e30;
                box-sizing: unset;
            
    
                    .diseño-celda{
                        list-style: none;
                        text-decoration: none;
                        color: rgb(174, 151, 38);
                        padding: 5px;
                        text-align: center;
                        background-color: #2e2e30;
                        box-sizing: unset;
                    }
            }
        }
    }
    main{
        
    section.grid{
        display: grid;
        grid-template-rows: 85px 150px 200px;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "index-titulo"
        "parrofo-clase"
        "div-ubicacion";
        justify-items: center;
        flex-wrap: wrap;
        
    
        h1.index-titulo {
            height: 41px;
            width: 150px;
            margin: 18px;
            margin-left: 2px;
            margin-right: 2px;
            padding: 15px;
            color: rgb(174, 151, 38);
            background-color: #2e2e30;
            border: solid 3px #9f8b6a;
            font-size: 15px;
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
        }
            p.parrafo-clase{

                background-color: #2e2e30;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 8px;
                color: #9f8b6a;
                width: 195px;
                height: 90px;
                padding: 5px;
                margin: 50px;
                margin-left: 20px;
                margin-right: 20px;
                text-align: center;
                border: #9f8b6a solid 2px;
            }
                div.div-ubicacion{
                    margin: 30px;
                    display: flex;
                    color: rgb(174, 151, 38);
                    font-size: 10px;
                    margin: 30px;
                    margin-left: 10px;
                    margin-right: 10px;
                    background-color: #2e2e30;
                    height: 180px;
                    width: auto;
                    border: #9f8b6a solid 3px;
                    padding: 10px;
                    flex-wrap: wrap;;
            
            
                    
                    p.parrafo-ubicacion {
                        margin: 10px;
                      
                }
                    .mapa-ubicacion {
                        width: 100px;
                        height: 100px;
                        margin: auto;
                        
                }
                    
                    
                }       
        }
    }
    
    footer.footer .footer {
		background-color: #2e2e30;
		border: #9f8b6a solid 3px;
		border-bottom: none;
		padding: 20px;
		margin-top: 100px;
		margin-left: 0%;
		margin-right: 0%;
		margin-bottom: 0%;
		display: flex;
		justify-content: space-between;
	

}
    
    
  
    section.grid-historia{
        display: grid;
        grid-template-rows: 90px 95px 305px 95px 355px 95px 455px;
        grid-template-areas: 
        "t-1" "h-1"
        "p-1 img-cafeteria"
        "img-colegio p-2" 
        "h-2"
        "h-3" 
        "p3 img-personajes";
    
       h1.titulo-siguientes {
		height: 41px;
		width: 150px;
		margin: 18px;
		margin-left: 2px;
		margin-right: 2px;
		padding: 15px;
		color: rgb(174, 151, 38);
		background-color: #2e2e30;
		border: solid 3px #9f8b6a;
		font-size: 15px;
		font-family: Arial, Helvetica, sans-serif;
		text-align: center;;
        }
        h3.titulo-generales{
            color: #9f8b6a;
           background-color: #2e2e30;
            font-size: 15px;
           padding: 10px;
            width: auto;
           height: 40px;
            border: #9f8b6a solid 3px;
        }
        article.historia-clase {
			padding: 20px;
			margin: 5px;
			display: flex;
			justify-content: space-between;
			text-align: center;
			background-color: #2e2e30;
			color: #9f8b6a;
			font-size: large;
			font-family: Arial, Helvetica, sans-serif;
                p.parrafo-historia{
                    font-size: 10px;
                    
                }
                .img-cafeteria{
                    width: 100px;
                    height: 100px;
                    display: none;
                }
    
        }
        h3.titulo-generales{
            color: #9f8b6a;
           background-color: #2e2e30;
            margin-top: 30px;
           font-size: 15px;
           padding: 10px;
            width: auto;
           height: 40px;
            border: #9f8b6a solid 3px;
        }
        article.historia-clase {
			padding: 20px;
			margin: 5px;
			display: flex;
			justify-content: space-between;
            text-align: center;
			background-color: #2e2e30;
			color: #9f8b6a;
			font-size: large;
			font-family: Arial, Helvetica, sans-serif;
               .img-colegio{
                    width: 100px;
                    height: 100px;
                    display: none;
                } 
                p.parrafo-historia{
                    font-size: 10px;
                    
                }
            }
        h3.titulo-generales{
            color: #9f8b6a;
            background-color: #2e2e30;
            font-size: 15px;
            padding: 10px;
            width: auto;
            height: 65px;
            border: #9f8b6a solid 3px;
        }
        article.historia-clase {
			padding: 20px;
			margin: 5px;
			display: flex;
            text-align: center;
			justify-content: space-between;
			background-color: #2e2e30;
			color: #9f8b6a;
			font-size: large;
			font-family: Arial, Helvetica, sans-serif;
                p.parrafo-historia{
                    font-size: 10px;			
                    
                }
                .img-personajes{
                    width: 100px;
                    height: 100px;
                    display: none;
                } 
               
    
    
        }
    }
    
    
    main.main-peli{
        h1.titulo-siguientes {
            height: 41px;
            width: 150px;
            margin: 18px;
            margin-left: 2px;
            margin-right: 2px;
            padding: 15px;
            color: rgb(174, 151, 38);
            background-color: #2e2e30;
            border: solid 3px #9f8b6a;
            font-size: 15px;
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
        }
    
        div.div-peli{
            section.section-peli{
                h3.titulo-generales{
                    color: #9f8b6a;
                   background-color: #2e2e30;
                   margin: 20px;
                   margin-top: 30px;
                   font-size: 15px;
                   padding: 10px;
                    width: auto;
                   height: 40px;
                    border: #9f8b6a solid 3px;
                }
                    div.contenedores-peliculas {
                        display: flex;
                        background-color: #2e2e30;
                        border: #9f8b6a solid 2px;
                        width: 350px;
                        height: auto;
                        color: #9f8b6a;
                        font-size: 10px;
                        font-family: Arial, Helvetica, sans-serif;
                        margin: 25px;
                        margin-top: 0px;
                        padding: 10px;
                        text-align: left;
                        margin-left: auto;
                        margin-right: auto;
                        max-width: 100vw;
                            .peliculas-img{
                                // height: 200px;
                                // width: 145px;
                                // margin-right:2px;
                                display: none;
                            }
                            p.parrafo-peli {
                                padding: 10px;
                            }
                            .videos-trailer{
                                height: 150px;
                                width: 100px;
                                transition: all 2s ease-in;
                            }	
                            
                            .videos-trailer:hover{
                                
                                transform: scale(2) translateX(-60px);
                                
                            
                            } 
                    }
                }
            }
        }
    
    
        main.main-libros{
            h1.titulo-siguientes {
                height: 41px;
                width: 150px;
                margin: 18px;
                margin-left: 2px;
                margin-right: 2px;
                padding: 15px;
                color: rgb(174, 151, 38);
                background-color: #2e2e30;
                border: solid 3px #9f8b6a;
                font-size: 15px;
                font-family: Arial, Helvetica, sans-serif;
                text-align: center;
            }
            section.libros-seccion{
                h3.titulo-generales{
                    color: #9f8b6a;
                   background-color: #2e2e30;
                   margin: 20px;
                   margin-top: 30px;
                   font-size: 15px;
                   padding: 10px;
                    width: auto;
                   height: 40px;
                    border: #9f8b6a solid 3px;
                }
                div.libros-contenedores {
                    display: flex;
                    background-color: #2e2e30;
                    border: none;
                    width: auto;
                    height: auto;
                    color: #9f8b6a;
                    font-size: 13px;
                    font-family: Arial, Helvetica, sans-serif;
                    text-align: left;
                    margin: 20px;
                    margin-top: 0px;
                    padding: 8px;
                    p{
                        font-size: 10px;
                        text-align: center;
                        
                    
                    }
                    .libros-img{
                        height: 200px;
                        width: 150px;
                    }
                
                }
    
            }
    
    
    
        }
    
    
        main.main-merchandising{
            .img-merchandising{
                height: 250px;
                width: 200px;
                margin-left: 25%;
                margin-right: 10%;
                
                }
        
            .img-carrusel{
                border: #9f8b6a 4px solid;
        }
    
        section{
            p.parrafo-clase{
    
                background-color: #2e2e30;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 8px;
                color: #9f8b6a;
                width: auto ;
                height: auto ;
                padding: 5px;
                margin: 50px;
                margin-left: 20px;
                margin-right: 20px;
                text-align: center;
                border: #9f8b6a solid 2px;
            }
        }
        }
}