* {
	padding: 0%;
	margin: 0%;
}

/* fondo de pantalla */
.cuerpo-prog {
	height: auto;
	width: auto;
	background-image: url(../imagenes/portada.jpg);
	background-size: cover;
	background-size: 100rem;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;


}
/* index */
.titulo {
	margin: 0%;
	margin-bottom: 0%;
	padding: 10px;
	padding-left: 5%;
	color: rgb(174, 151, 38);
	background-color: #2e2e30;
	border: solid 3px #9f8b6a;
	border-bottom: none;
	font-size: 40px;
	font-family: Arial, Helvetica, sans-serif;
	
}

.sub-titulo {
	border: 3px solid #9f8b6a;
	border-top: none;
	background-color: #2e2e30;
	margin: 50px;
	margin-top: 0%;
	margin-left: 0%;
	margin-right: 0%;
	margin-bottom: 10px;
	padding-left: 15px;
	padding-bottom:8px;
	color: rgb(174, 151, 38);
	font-family: Arial, Helvetica, sans-serif;
}


.parrafo-clase{

background-color: #2e2e30;
font-family: Arial, Helvetica, sans-serif;
font-size: 15px;
color: #9f8b6a;
width: 500px ;
height: 200px ;
padding: 10px;
margin: 1px;
margin-left: 100px;
margin-right: 100px;
text-align: center;
border: #9f8b6a solid 2px;
}
.clase-listas {
	text-align: center;
	display: flex;
	justify-content: space-around;
	background-color: #2e2e30;
	font-size: 22px;
}


.diseño-barra{
	color: rgb(174, 151, 38);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	border: #9f8b6a solid 1px;
	background-color: #2e2e30;
	box-sizing:unset;
}
.diseño-celda{
	list-style: none;
	text-decoration: none;
	color: rgb(174, 151, 38);
	padding: 5px;
	padding-left: 10px;
    padding-right: 10px;
	text-align: center;
	background-color: #2e2e30;
	
}

.div-ubicacion {
	margin: 10px;
	display: flex;
	flex-wrap: nowrap;
	color: rgb(174, 151, 38);
	font-size: x-large;
	margin-left: 10px;
	margin-right: 10px;
	background-color: #2e2e30;
	height: auto;
	width: auto;
	border: #9f8b6a solid 3px;
	padding: 25px;
	

}
.clase-centrado{
	justify-content: space-around;
}
.parrafo-ubicacion {
	margin: 100px;
}
.mapa-ubicacion {
	width: 200px;
	height: 200px;
	margin: auto;
	transition: all 2s;
}
.mapa-ubicacion:hover{
	transform: scale(2);
	
	}

.redes-sociales {
	background-color: #2e2e30;
	border: #9f8b6a solid 3px;
	border-bottom: none;
	padding: 20px;
	margin-top: 100px;
	margin-left: 0%;
	margin-right: 0%;
	margin-bottom: 0%;
	display: flex;
	
}

.instagram-img {
	height: 50px;
	width: 50px;
	padding: 10px;
	
}
.wpp-img {
	height: 50px;
	width: 50px;
	padding: 10px;
	
}

/* index cierre */
/* historia.html */

.titulo-siguientes {
	height: 60px;
    width: 400px;
    margin: 18px;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 50px;
    padding: 15px;
    padding-left: 25px;
    color: rgb(174, 151, 38);
    background-color: #2e2e30;
    border: solid 3px #9f8b6a;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}
/* fotos historia */
.img-cafeteria{
	width: 400px;
	height: 300px;
}
.img-colegio{
	width: 400px;
	height: 300px;
}
.historia-clase {
	padding: 20px;
	margin: 5px;
	display: flex;
	justify-content: space-between;
	text-align: center;
	background-color: #2e2e30;
	color: #9f8b6a;
	font-size: large;
	font-family: Arial, Helvetica, sans-serif;
	
}
.titulo-generales {
	color: #9f8b6a;
    background-color: #2e2e30;
    margin: 50px;
    margin-top: 100px;
    font-size: xx-large;
    padding: 10px;
    width: auto;
    height: 60px;
    border: #9f8b6a solid 3px
}
/* titulos generales para que modifique de la misma forma y ocupe un mismo "fin" */

/* historia cierre */
/* peliculas abre */

.contenedores-peliculas {
	display: flex;
    background-color: #2e2e30;
    border: #9f8b6a solid 2px;
    width: 780px;
    height: 330px;
    color: #9f8b6a;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    margin: 25px;
    margin-top: 0px;
	margin-left: 25%;
    padding: 10px;
    text-align: center;
}
.parrafo-peli {
	padding: 10px;
}

.peliculas-img{
		height: 300px;
		width: 200px;
	}


.videos-trailer{
	height: 250px;
	width: 280px;
	transition: all 2s ease-in;
}	

.videos-trailer:hover{
	
	transform: scale(2) translateX(-80px);
	

}


/* cierre peli */
/* cierre libros */
.libros-contenedores {
	display: flex;
	background-color: #2e2e30;
	border: #9f8b6a solid 2px;
	width: 700px;
	height: 550px;
	color: #9f8b6a;
	font-size: large;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	margin: 50px;
	margin-left: auto;
	margin-right: auto ;
	margin-top: 0px;
	padding: 25px;
}

.libros-img{
	height: 500px;
	width: 350px;
}

/* cierre libros */
/* carrusel abre */

.div-carrusel {
	margin-bottom: 12%;
}

/* grid */

.grid{
	display: grid;
	grid-template-rows: 180px 300px 300px;
	grid-template-columns: 1fr;
	grid-template-areas: 
	"titulo-siguiente"
	"parrofo-clase"
	"div-ubicacion";
	
	justify-items: center;
	flex-wrap: wrap;
	
	}

	.grid-historia{
		display: grid;
    grid-template-rows: 100px 170px 350px 170px 350px 170px 350px;
    grid-template-areas: 
	"t-1" "h-1"
	 "p-1 img-cafeteria"
	  "img-colegio p-2" 
	  "h-2"
	   "h-3" 
	   "p3 img-personajes";
	}

	.img-merchandising{
		height: 600px;
		width: 350px;
		margin-left: 40%;
		margin-right: 10%;
		margin-top: 10%;
		}

	.img-carrusel{
		border: #9f8b6a 4px solid;
}

@media (max-width:451px) {
	
	
	.cuerpo-prog {
			height: auto;
			width: auto;
			background-image: url(../imagenes/portada.jpg);
			background-size: cover;
			background-size: 100rm;
			background-repeat: no-repeat;
			background-position: center center;
			background-attachment: fixed;
			
	}
	/* index */
	.titulo {
			margin: 0%;
			margin-bottom: 0%;
			padding: 10px;
			padding-left: 5%;
			color: rgb(174, 151, 38);
			background-color: #2e2e30;
			border: solid 3px #9f8b6a;
			border-bottom: none;
			font-size: 20px;
			font-family: Arial, Helvetica, sans-serif;
	}
	
	.sub-titulo {
			border: 3px solid #9f8b6a;
			border-top: none;
			background-color: #2e2e30;
			margin: 50px;
			margin-top: 0%;
			margin-left: 0%;
			margin-right: 0%;
			margin-bottom: 10px;
			padding-left: 15px;
			padding-bottom:8px;
			color: rgb(174, 151, 38);
			font-family: Arial, Helvetica, sans-serif;
			font-size: 10px;
	}
	
	.menu-clase {
			color: rgb(174, 151, 38);
			font-family: Arial, Helvetica, sans-serif;
			font-size: 15px;
			border: #9f8b6a solid 1px;
	}
	.parrafo-clase{
	
			background-color: #2e2e30;
			font-family: Arial, Helvetica, sans-serif;
			font-size: 8px;
			color: #9f8b6a;
			width: 195px;
			height: 90px;
			padding: 5px;
			margin: 50px;
			margin-left: 20px;
			margin-right: 20px;
			text-align: center;
			border: #9f8b6a solid 2px;
	}
	
	.diseño-barra{
		color: rgb(174, 151, 38);
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		border: #9f8b6a solid 1px;
		background-color: #2e2e30;
		box-sizing:unset;
	}
	.diseño-celda{
		list-style: none;
		text-decoration: none;
		color: rgb(174, 151, 38);
		padding: 5px;
		text-align: center;
		background-color: #2e2e30;
		box-sizing: unset;
	}
	
	.div-ubicacion {
			margin: 30px;
			display: flex;
			color: rgb(174, 151, 38);
			font-size: 10px;
			margin: 30px;
			margin-left: 10px;
			margin-right: 10px;
			background-color: #2e2e30;
			height: 180px;
			width: auto;
			border: #9f8b6a solid 3px;
			padding: 10px;
			flex-wrap: wrap;
	
	}
	.clase-centrado{
		justify-content: space-around;
	}
	.parrafo-ubicacion {
			margin:10px;
	}
	.mapa-ubicacion {
			width: 100px;
			height: 100px;
			margin: auto;
	}
	
	.titulo-generales {
		color: #9f8b6a;
		background-color: #2e2e30;
		margin: 20px;
		margin-top: 30px;
		font-size: 15px;
		padding: 10px;
		width: auto;
		height: 40px;
		border: #9f8b6a solid 3px;
	}
	.redes-sociales {
			background-color: #2e2e30;
			border: #9f8b6a solid 3px;
			border-bottom: none;
			padding: 20px;
			margin-top: 100px;
			margin-left: 0%;
			margin-right: 0%;
			margin-bottom: 0%;
			display: flex;
			justify-content: space-between;
		}
	
	.instagram-img {
			height: 50px;
			width: 50px;
			padding: 10px;
		
	}
	.wpp-img {
			height: 50px;
			width: 50px;
			padding: 10px;
		
	}
	.titulo-siguientes {
		height: 41px;
		width: 150px;
		margin: 18px;
		margin-left: 2px;
		margin-right: 2px;
		/* margin-top: 50px; */
		padding: 15px;
		color: rgb(174, 151, 38);
		background-color: #2e2e30;
		border: solid 3px #9f8b6a;
		font-size: 15px;
		font-family: Arial, Helvetica, sans-serif;
		text-align: center;
	}

	.grid{
			display: grid;
			grid-template-rows: 85px 150px 200px;
			grid-template-columns: 1fr;
			grid-template-areas: 
			"titulo-siguiente"
			"parrofo-clase"
			"div-ubicacion";
			
			justify-items: center;
			flex-wrap: wrap;
		
		}
	.img-cafeteria{
			width: 100px;
			height: 100px;
		}
	.img-colegio{
			width: 100px;
			height: 100px;
		}
	.img-personajes{
			width: 100px;
			height: 100px;
	}
	.historia-clase {
			padding: 20px;
			margin: 5px;
			display: flex;
			justify-content: space-between;
			text-align: center;
			background-color: #2e2e30;
			color: #9f8b6a;
			font-size: large;
			font-family: Arial, Helvetica, sans-serif;
			
		}
		.parrafo-historia{
			font-size: 10px;
		}


		.grid-historia{
			display: grid;
		grid-template-rows: 50px 85px 195px 85px 195px 85px 195px;
		grid-template-areas: 
		"t-1" "h-1"
		 "p-1 img-cafeteria"
		  "img-colegio p-2" 
		  "h-2"
		   "h-3" 
		   "p3 img-personajes";
		}
		
		.contenedores-peliculas {
				display: flex;
				background-color: #2e2e30;
				border: #9f8b6a solid 2px;
				width: 400px;
    			height: 220px;
				color: #9f8b6a;
				font-size: 10px;
				font-family: Arial, Helvetica, sans-serif;
				margin: 25px;
				margin-top: 0px;
				padding: 10px;
				text-align: left;
				margin-left: auto;
    			margin-right: auto;
				max-width: 100vw;

		}
		.parrafo-peli {
			padding: 10px;
		}
		
		.peliculas-img{
				height: 200px;
				width: 145px;
				margin-right:2px;
			}
		.videos-trailer	{

			height:150px ;
			width: 100px;
			transition: all 2s ease-in;
		}
			
		.videos-trailer:hover{
			
			transform: scale(2git ) translateX(-60px);
			
		
		}
		.libros-contenedores {
			display: flex;
			background-color: #2e2e30;
			border: #9f8b6a solid 2px;
			width: 320px;
			height: 230px;
			color: #9f8b6a;
			font-size: 13px;
			font-family: Arial, Helvetica, sans-serif;
			text-align: left;
			margin: 20px;
			margin-top: 0px;
			padding: 8px;
		}
		
		.libros-img{
			height: 200px;
			width: 150px;
		}	
		.img-merchandising{
			height: 250px;
			width: 200px;
			margin-left: 25%;
			margin-right: 10%;
			
			}
		



}
@media (min-width:452px) and (max-width:820px) 
{
	
	
	.cuerpo-prog {
		height: auto;
		width: auto;
		background-image: url(../imagenes/portada.jpg);
		background-size: cover;
		background-size: 100rm;
		background-repeat: no-repeat;
		background-position: center center;
		background-attachment: fixed;
		
}
/* index */
.titulo {
		margin: 0%;
		margin-bottom: 0%;
		padding: 10px;
		padding-left: 5%;
		color: rgb(174, 151, 38);
		background-color: #2e2e30;
		border: solid 3px #9f8b6a;
		border-bottom: none;
		font-size: 40px;
		font-family: Arial, Helvetica, sans-serif;
}

.sub-titulo {
		border: 3px solid #9f8b6a;
		border-top: none;
		background-color: #2e2e30;
		margin: 50px;
		margin-top: 0%;
		margin-left: 0%;
		margin-right: 0%;
		margin-bottom: 10px;
		padding-left: 15px;
		padding-bottom:8px;
		color: rgb(174, 151, 38);
		font-family: Arial, Helvetica, sans-serif;
		font-size: 15px;
}

.menu-clase {
		color: rgb(174, 151, 38);
		font-family: Arial, Helvetica, sans-serif;
		font-size: 25px;
		border: #9f8b6a solid 1px;
}
.parrafo-clase{

	background-color: #2e2e30;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #9f8b6a;
    width: 195px;
    height: 150px;
    padding: 5px;
    margin: 20px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    border: #9f8b6a solid 2px;
}

.diseño-barra{
	color: rgb(174, 151, 38);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 19px;
	border: #9f8b6a solid 1px;
	background-color: #2e2e30;
	box-sizing:unset;
}
.diseño-celda{
	list-style: none;
	text-decoration: none;
	color: rgb(174, 151, 38);
	padding: 5px;
	text-align: center;
	background-color: #2e2e30;
	box-sizing: unset;
}

.div-ubicacion {
		/* margin: 30px; */
		display: flex;
		color: rgb(174, 151, 38);
		font-size: 12px;
		/* margin: 50px; */
		margin-left: 10px;
		margin-right: 10px;
		background-color: #2e2e30;
		height: 180px;
		width: auto;
		border: #9f8b6a solid 3px;
		padding: 10px;
		flex-wrap: wrap;

}
.clase-centrado{
	justify-content: space-around;
}
.parrafo-ubicacion {
		margin: 50px;
		font-size: 15px;
}
.mapa-ubicacion {
		width: 100px;
		height: 100px;
		margin: auto;
		
}

.titulo-generales {
	color: #9f8b6a;
	background-color: #2e2e30;
	margin: 20px;
	margin-top: 30px;
	font-size: 25px;
	padding: 10px;
	width: auto;
	height: auto;
	border: #9f8b6a solid 3px;
}
.redes-sociales {
		background-color: #2e2e30;
		border: #9f8b6a solid 3px;
		border-bottom: none;
		padding: 20px;
		margin-top: 100px;
		margin-left: 0%;
		margin-right: 0%;
		margin-bottom: 0%;
		display: flex;
		justify-content: space-between;
	}
	.redes-tablet{
		position: absolute;
		width: 100vw;
		top: 82vh;
	}

.instagram-img {
		height: 50px;
		width: 50px;
		padding: 10px;
	
}
.wpp-img {
		height: 50px;
		width: 50px;
		padding: 10px;
	
}
.titulo-siguientes {
	height: auto;
	width: 150px;
	margin: 18px;
	margin-left: 2px;
	margin-right: 2px;
	/* margin-top: 50px; */
	padding: 15px;
	color: rgb(174, 151, 38);
	background-color: #2e2e30;
	border: solid 3px #9f8b6a;
	font-size: 22px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}

.grid{
		display: grid;
		grid-template-rows: 90px 200px 250px;
		grid-template-columns: 1fr;
		grid-template-areas: 
		"titulo-siguiente"
		"parrofo-clase"
		"div-ubicacion";
		
		justify-items: center;
		flex-wrap: wrap;
	
	}
.img-cafeteria{
		width: 150px;
		height: 150px;
	}
.img-colegio{
		width: 150px;
		height: 150px;
	}
.img-personajes{
		width: 150px;
		height: 150px;
}
.historia-clase {
		padding: 20px;
		margin: 5px;
		display: flex;
		justify-content: space-between;
		text-align: center;
		background-color: #2e2e30;
		color: #9f8b6a;
		font-size: large;
		font-family: Arial, Helvetica, sans-serif;
		
	}
	.parrafo-historia{
		font-size: 18px;
	}


	.grid-historia{
		display: grid;
	grid-template-rows: 90px 105px 215px 105px 215px 105px 215px;
	grid-template-areas: 
	"t-1" "h-1"
	 "p-1 img-cafeteria"
	  "img-colegio p-2" 
	  "h-2"
	   "h-3" 
	   "p3 img-personajes";
	}
	
	.contenedores-peliculas {
			display: flex;
			background-color: #2e2e30;
			border: #9f8b6a solid 2px;
			width: 400px;
			height: 220px;
			color: #9f8b6a;
			font-size: 10px;
			font-family: Arial, Helvetica, sans-serif;
			margin: 25px;
			margin-top: 0px;
			padding: 10px;
			text-align: left;
			margin-left: auto;
			margin-right: auto
	}
	.parrafo-peli {
		padding: 10px;
	}
	
	.peliculas-img{
			height: 200px;
			width: 145px;
			margin-right:2px;
		}
	.videos-trailer	{

		height:150px ;
		width: 100px;
		transition: all 1s ease-in;
		}
			
		.videos-trailer:hover{
			
			transform: scale(2) translateX(-60px);
			
		
		}
	.libros-contenedores {
		display: flex;
		background-color: #2e2e30;
		border: #9f8b6a solid 2px;
		width: 320px;
		height: 230px;
		color: #9f8b6a;
		font-size: 13px;
		font-family: Arial, Helvetica, sans-serif;
		text-align: left;
		margin: 20px;
		margin-top: 0px;
		padding: 8px;
	}
	
	.libros-img{
		height: 200px;
		width: 150px;
	}	
	.img-merchandising{
		height: 250px;
		width: 200px;
		
		}
}