$parrafo-clase:(
    background-color: #2e2e30,
    font-family: Arial,
    font-size: 11px,
    color: #9f8b6a,
    width: 195px,
    height: 150px,
    padding: 5px,
    margin: 20px,
    margin-left: 20px,
    margin-right: 20px,
    text-align: center,
    border: #9f8b6a solid 2px,
);

$mapa-ubicacion:(
    width: 100px,
    height: 100px,
    margin: auto,
    );

$img-cafeteria:(
    width: 150px,
    height: 150px,
);

$img-colegio:(
    width: 150px,
    height: 150px,
);

$img-personajes:(
    width: 150px,
    height: 150px,
);

$redes-img:(
    height: 50px,
    width: 50px,
    padding: 10px,

);

$peliculas-img:(
    height: 200px,
    width: 145px,
    margin-right:2px,
);

$libros-img:(
    height: 200px,
    width: 150px,
);

$img-merchandising:(
    height: 250px,
    width: 200px,
    
    );